[submodule "themes/hugo-cloak-email"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email
[submodule "themes/hugomod-images"]
	path = themes/hugomod-images
	url = https://github.com/hugomods/images
